/* ----------------------
    MIXINS 
---------------------- */
/* ----------------------
    Variables 
---------------------- */
/* ----------------------
    BOTONES 
---------------------- */
.menu_nav-info button {
  background-color: #029FCA;
  color: #FFFFFF;
  padding: 0.8rem 3rem;
  border-radius: 7rem;
  font-family: "Montserrat", sans-serif; }

.menu_nav-info button:hover {
  background-color: #FFFFFF;
  color: #212121; }

/* ----------------------
    LINKS 
---------------------- */
/* ----------------------
    TIPOGRAFIAS
---------------------- */
/* ----------------------
    GRIDS 
---------------------- */
/* ----------------------
    UTILITIES 
---------------------- */
/* ----------------------
    LAYOUT  
---------------------- */
/* ----------------------
    SECTION PRINCIPAL  
---------------------- */
div.__principal--menu {
  height: 100vh;
  background-color: #029FCA; }

div.menu {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  clip-path: polygon(0 0, 100% 0%, 59% 100%, 0% 100%);
  background-color: #212121; }

div.principal__info {
  position: absolute;
  top: 50%;
  box-sizing: border-box; }
