/* ----------------------
    MIXINS 
---------------------- */
/* ----------------------
    Variables 
---------------------- */
/* ----------------------
    BOTONES 
---------------------- */
button {
  margin-top: 46px;
  background-color: #029FCA;
  color: #FFFFFF;
  padding: 0.8rem 3rem;
  border-radius: 7rem;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  outline: none; }

button:hover {
  background-color: #FFFFFF;
  color: #212121;
  transition: .5s; }

button.description--boton {
  margin: 6em 0;
  color: #212121; }

button.description--boton span::after {
  content: ' '; }

.description button {
  margin: 0;
}

/* ----------------------
    LINKS 
---------------------- */
/* ----------------------
    TIPOGRAFIAS
---------------------- */
/* ----------------------
    ICONOS
---------------------- */
/* ----------------------
    IMAGENES
---------------------- */

.projects img {
  height: 300px;
  width: 600px;
  padding: 1em;
}
span.icons {
  font-size: 124px;
  color: #FFFFFF;
  font-weight: lighter; }

/* ----------------------
    GRIDS 
---------------------- */
/* ----------------------
    UTILITIES 
---------------------- */
h2, h1, h3 {
  margin: 0; }

.menu--logo h2 {
  color: #029FCA;
  font-size: 46px;
  font-family: "Indie Flower", cursive;
  color: #FFFFFF;
  margin: 0; }

.menu--logo h2::after {
  content: 'code';
  color: #029FCA; }

.info__principal h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  color: white;
  font-weight: lighter;
  margin-bottom: 0; }

.info__principal h1 span {
  font-family: "Indie Flower", cursive;
  font-style: italic; }

.info__principal h1::after {
  content: 'code';
  color: #029FCA;
  font-family: "Indie Flower", cursive;
  font-style: italic; }

/* ---- section aboutme ---- */
.aboutme__description h1 {
  color: #029FCA;
  font-family: "Indie Flower", cursive;
  font-size: 54px;
  padding-top: 5.8rem;
  font-style: italic; }

.description--technologies h2 {
  font-family: "Indie Flower", cursive;
  font-style: italic;
  font-size: 54px;
  color: #029FCA;
  margin-top: 1em; }

nav ul {
  display: flex;
  font-family: "Montserrat", sans-serif; }

nav ul li {
  list-style: none;
  padding: 0 1em; }

li a {
  text-decoration: none;
  color: #FFFFFF; }

li a:hover {
  color: #029FCA;
  transition: .3s; }

  /* ---- portafolio */
  
  .description h3 {
    font-family: "Indie Flower", cursive;
    font-size: 1.5em;
    padding-top: 1em;
    color: #029FCA;
  }


/* ----------------------
    PARRAFOS 
---------------------- */
.info__principal p {
  font-family: "Montserrat", sans-serif;
  color: #029FCA; }

.info__principal p::after {
  content: ' Developer';
  color: #FFFFFF; }

/* ---- section aboutme ---- */
.aboutme__description p {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  line-height: 1.8; }

.projects p {
  height: 20vh;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
}

/* section portafolio */


/* ----------------------
    LAYOUT  
---------------------- */
/* ----------------------
    SECCIONES  
---------------------- */
section.aboutme {
  height: auto;
  box-sizing: border-box;
  background-color: #212121; }

  section.portafolio {
  }


/* ----------------------
    DIVISIONES
---------------------- */
div.__principal--menu {
  height: 100vh;
  background-color: #029FCA; }

div.menu {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  clip-path: polygon(0 0, 100% 0%, 59% 100%, 0% 100%);
  background-color: #212121; }

div.principal__info {
  position: absolute;
  top: 30%;
  left: 20%;
  box-sizing: border-box; }

/* ---- Section Aboutme ---- */
div.aboutme__description {
  text-align: center;
  padding: 0 8rem; }

div.description--iconos {
  margin-top: 4em;
  display: flex;
  justify-content: space-around; }
 

/*---- section  portafolio ----*/ 

div.projects {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  justify-items: center;
  background-color: #212121;}


div.description {
  padding: 0 2em;
}

/* ---- footer ---- */ 

footer {
  width: 100vw;
  text-align: center;
  background-color: #212121;
}

footer h3 {
  color: #029FCA;
  padding-top: 2.5em;
  padding-bottom: 1em;
  font-size: 3em;
  font-family: "Indie Flower", cursive;
}

form div.nombre,
form div.mensaje,
form div.asunto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form div.asunto input::placeholder {
  padding: 1em;
  font-family: 'Muli', sans-serif;
}


form div.nombre input.input-1,
form div.nombre input.input-2 {
  flex: 0 0 calc(50% - 10rem);
  margin: 0 1em 2em;
  height: 3em;
  border: 0;
  border-radius: 10px;
}

form div.nombre input.input-1::placeholder,
form div.nombre input.input-2::placeholder {
  font-family: 'Muli', sans-serif;
  padding-left: 1em;
} 

form div.asunto input::placeholder {
  padding-left: .2em;
  font-family: 'Muli', sans-serif;
}

form div.asunto input {
  padding: 1em;
  flex: 0 0 78%;
  margin-bottom: 2em;
}

form div.mensaje textarea::placeholder {
  padding: 1em;
  font-family: 'Muli', sans-serif;
}


div.inputs textarea,
div.inputs input {
  background-color: #272727;
  border: 0;
  flex: 0 0 80%;
  border-radius: 10px;
  outline: none;
}

div.inputs::placeholder {
  color: #555555;
}

div.botones {
  display: flex;
  justify-content: center;
  padding: 2em;
}

div.botones button {
  margin: 0 1em;
  height: 73px;
  padding: 0 2.2em;
  border-radius: 10px;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  border: 0;
}

div.botones button:nth-child(1) {
  background-color: #029FCA;
  color: white;
}

div.botones button:nth-child(2) {
  background-color: #272727;
  color: white;
}

footer p {
  margin: 0;
  color: white;
  font-family: 'Muli', sans-serif;
  padding-bottom: 2em;
}

footer p a {
  color: #029FCA;
  font-family: 'Abel', sans-serif;
}