
// ---- divs Section Principal 

div.__principal--menu {
    height: 100vh;
    background-color: $colorPrincipal;
}

div.menu {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    clip-path: polygon(0 0, 100% 0%, 59% 100%, 0% 100%);
    background-color: $colorSecundario;

}

div.principal__info { 
    position: absolute;
    top: 30%;
    left: 20%;
    box-sizing: border-box;
    
}

div.info__principal {
}

