/* ----------------------
    SECTION PRINCIPAL  
---------------------- */

section.principal {

}

section.aboutme {
    height: 100vh;
    box-sizing: border-box;
    background-color: $colorSecundario;
}














