/* ----------------------
    SECCIONES  
---------------------- */

section.principal {

}

// ---- about me 

section.aboutme {
    height: auto;
    box-sizing: border-box;
    background-color: $colorSecundario;
}


// -----  portafolio 
















