/* ----------------------
    SECCIONES  
---------------------- */

section.principal {

}

section.aboutme {
    height: auto;
    box-sizing: border-box;
    background-color: $colorSecundario;
}














