h2, h1, h3 {
    margin: $margin;
}

.menu--logo h2 {
    color: $colorPrincipal;
    font-size: 46px;
    font-family: $fuenteSecundaria;
    color: $colorTerciario;
    margin: $margin;
    
}

.menu--logo h2::after {
    content: 'code';
    color: $colorPrincipal;
}

.info__principal h1 {
    font-family: $fuentePrincipal;
    font-size: $tamañofuenteprincipal;
    color: white;
    font-weight: lighter;
    margin-bottom: $margin;
}

.info__principal h1 span {
    font-family: $fuenteSecundaria;
    font-style: italic;
}

.info__principal h1::after {
    content: 'code';
    color: $colorPrincipal;
    font-family: $fuenteSecundaria;
    font-style: italic;
}

/* ---- section aboutme ---- */

.aboutme__description h1 {

}

.description--technologies h2 {

}

