/* ----------------------
    BOTONES 
---------------------- */

button{
    margin-top: 46px;
    background-color: $colorBoton;
    color: $colorTerciario;
    padding: $paddingtopbottom $paddingrightleft;
    border-radius: $radius;
    font-family: $fuentePrincipal;
    border: none;
    cursor: pointer;
    outline: none;
}


button:hover {
    background-color: $colorbotonhover;
    color: $colorSecundario;
    transition: .5s;
}

// ---- boton aboutme 

button.description--boton {
    margin: $margintop + 5em 0;
    color: $colorSecundario;
}

button.description--boton span::after {
    content: ' ';
}