/* ----------------------
    BOTONES 
---------------------- */

.info__principal button{
    margin-top: 46px;
    background-color: $colorBoton;
    color: $colorTerciario;
    padding: $paddingtopbottom $paddingrightleft;
    border-radius: $radius;
    font-family: $fuentePrincipal;
    border: none;
}


.info__principal button:hover {
    background-color: $colorbotonhover;
    color: $colorSecundario;
    transition: .5s;
}

/* ---- Section aboutme * ---- */

.description--botones button {
    
} 