/* ----------------------
    ICONOS
---------------------- */

// ---- Section aboutme

span.icons {
    font-size: $tamañofuenteprincipal + 60px;
    color: $colorTerciario;
    font-weight: lighter;
}
